<a href="https://colab.research.google.com/github/gammaSquared/deep-learning-power-market/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Deep learning in the Spannish power market**

This project is about applying deep learning to the following three tasks in the Spannish power market:

- Can we forecast 24 hours in advance better than the TSO?
- Can we predict electrical price by time of day better than TSO?
- Forecast intraday price or electrical demand hour-by-hour.

The dataset and suggested problems come from the Kaggle https://www.kaggle.com/nicholasjhana/energy-consumption-generation-prices-and-weather 

## Setup
The needed information is contained in the repo https://github.com/gammaSquared/deep-learning-power-market The code and data is first cloned into the workspace of the notebook. Along with this notebook, there is an existing utils.py file containing functions and classes to keep things clean and tidy. 

## Deep learning 
Tensorflow and Keras will be used for deep learning. Moreover this is a timer series forecasting problem. An excellent resource on this is https://www.tensorflow.org/tutorials/structured_data/time_series

## Overall workflow
- Import, inspect and clean data 
- Analyze data and prepare features

In [ ]:
# Clone repo
!git clone https://github.com/gammaSquared/deep-learning-power-market
# Change pwd to deep-learning power-market
%cd deep-learning-power-market

Cloning into 'deep-learning-power-market'...
remote: Enumerating objects: 31, done.
remote: Counting objects: 100% (31/31), done.
remote: Compressing objects: 100% (29/29), done.
remote: Total 31 (delta 6), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (31/31), done.
/content/deep-learning-power-market

## Import packages
- *utils* contains all the functions and classes in the repo

In [ ]:
import utils as utils
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf

## Import data
- The csv files are contained in the folder *data* in the repo
- Change the current directory and list the files

In [ ]:
# Change working directory to data and list files
%cd data
%ls

/content/deep-learning-power-market/data
energy_dataset.csv  weather_features.csv

## Inspect and clean data

After importing the data and inspecting it, there is missing data in the energy data while there is no missing data in the weather data. Let's drop the two columns which are all nans. Then convert time columns to datetime.

In [ ]:
# Import data and inspect
df_energy = pd.read_csv('energy_dataset.csv')
df_weather = pd.read_csv('weather_features.csv')
print('Energy data')
print(f'Shape: \n {df_energy.shape}')
print(f'Nans: \n {df_energy.isna().sum()}')
display(df_energy.head())
print('Weather data')
print(f'Shape: \n {df_weather.shape}')
print(f'Nans: \n {df_weather.isna().sum()}')
display(df_weather.head())

# Drop nan columns
df_energy.drop(columns = ['generation hydro pumped storage aggregated', 'forecast wind offshore eday ahead'], inplace = True)
# Drop other nan rows
#df_energy.dropna(inplace = True)

# Convert time columns to datetime
df_energy['time'] = pd.to_datetime(df_energy['time'])
df_weather['dt_iso'] = pd.to_datetime(df_weather['dt_iso'])

Energy data
Shape:
 (35064, 29)
Nans:
 time                                               0
generation biomass                                19
generation fossil brown coal/lignite              18
generation fossil coal-derived gas                18
generation fossil gas                             18
generation fossil hard coal                       18
generation fossil oil                             19
generation fossil oil shale                       18
generation fossil peat                            18
generation geothermal                             18
generation hydro pumped storage aggregated     35064
generation hydro pumped storage consumption       19
generation hydro run-of-river and poundage        19
generation hydro water reservoir                  18
generation marine                                 19
generation nuclear                                17
generation other                                  18
generation other renewable                        18
generation solar                                  18
generation waste                                  19
generation wind offshore                          18
generation wind onshore                           18
forecast solar day ahead                           0
forecast wind offshore eday ahead              35064
forecast wind onshore day ahead                    0
total load forecast                                0
total load actual                                 36
price day ahead                                    0
price actual                                       0
dtype: int64

                        time  generation biomass  ...  price day ahead  price actual
0  2015-01-01 00:00:00+01:00               447.0  ...            50.10         65.41
1  2015-01-01 01:00:00+01:00               449.0  ...            48.10         64.92
2  2015-01-01 02:00:00+01:00               448.0  ...            47.33         64.48
3  2015-01-01 03:00:00+01:00               438.0  ...            42.27         59.32
4  2015-01-01 04:00:00+01:00               428.0  ...            38.41         56.04

[5 rows x 29 columns]

Weather data
Shape:
 (178396, 17)
Nans:
 dt_iso                 0
city_name              0
temp                   0
temp_min               0
temp_max               0
pressure               0
humidity               0
wind_speed             0
wind_deg               0
rain_1h                0
rain_3h                0
snow_3h                0
clouds_all             0
weather_id             0
weather_main           0
weather_description    0
weather_icon           0
dtype: int64

                      dt_iso city_name  ...  weather_description  weather_icon
0  2015-01-01 00:00:00+01:00  Valencia  ...         sky is clear           01n
1  2015-01-01 01:00:00+01:00  Valencia  ...         sky is clear           01n
2  2015-01-01 02:00:00+01:00  Valencia  ...         sky is clear           01n
3  2015-01-01 03:00:00+01:00  Valencia  ...         sky is clear           01n
4  2015-01-01 04:00:00+01:00  Valencia  ...         sky is clear           01n

[5 rows x 17 columns]

## Investigate time points

Lets check if there are differences between the number of time stamps. By looking at the cardinality of each set we see that both contain the identical numeber of elements. By subtracting the weather set from the energy set we also see that they are empty.

In [ ]:
# Create sets out of the time indexes 
energy_time_set = set(df_energy['time'])
weather_time_set = set(df_weather['dt_iso'])

# Compute the cardinality of the sets
print(f'Energy set cardinality:  {len(energy_time_set)}')
print(f'Weather set cardinality:  {len(weather_time_set)}')

# Elements in energy time set which are not in weather time set
print(f'Elements in energy time set which are not in weather time set: {len(energy_time_set - weather_time_set)}')

Energy set cardinality:  35064
Weather set cardinality:  35064
Elements in energy time set which are not in weather time set: 0

[]

## Deal with nans

In [ ]:
# See what the nans look like
df_energy[df_energy.isna().any(axis=1)]

                            time  ...  price actual
99     2015-01-05 03:00:00+01:00  ...         59.68
108    2015-01-05 12:00:00+01:00  ...         79.14
109    2015-01-05 13:00:00+01:00  ...         73.95
110    2015-01-05 14:00:00+01:00  ...         71.93
111    2015-01-05 15:00:00+01:00  ...         71.50
112    2015-01-05 16:00:00+01:00  ...         71.85
113    2015-01-05 17:00:00+01:00  ...         80.53
451    2015-01-19 19:00:00+01:00  ...         88.95
452    2015-01-19 20:00:00+01:00  ...         87.94
643    2015-01-27 19:00:00+01:00  ...         83.97
661    2015-01-28 13:00:00+01:00  ...         77.62
751    2015-02-01 07:00:00+01:00  ...         16.98
752    2015-02-01 08:00:00+01:00  ...         19.56
753    2015-02-01 09:00:00+01:00  ...         23.13
756    2015-02-01 12:00:00+01:00  ...         22.51
757    2015-02-01 13:00:00+01:00  ...         23.44
758    2015-02-01 14:00:00+01:00  ...         24.10
759    2015-02-01 15:00:00+01:00  ...         21.12
760    2015-02-01 16:00:00+01:00  ...         21.73
761    2015-02-01 17:00:00+01:00  ...         25.93
762    2015-02-01 18:00:00+01:00  ...         54.13
763    2015-02-01 19:00:00+01:00  ...         68.53
2258   2015-04-05 03:00:00+02:00  ...         29.04
2528   2015-04-16 09:00:00+02:00  ...         67.55
2623   2015-04-20 08:00:00+02:00  ...         72.92
2708   2015-04-23 21:00:00+02:00  ...         82.57
2913   2015-05-02 10:00:00+02:00  ...         59.09
3554   2015-05-29 03:00:00+02:00  ...         55.07
3968   2015-06-15 09:00:00+02:00  ...         73.82
6583   2015-10-02 08:00:00+02:00  ...         70.13
6586   2015-10-02 11:00:00+02:00  ...         70.49
8049   2015-12-02 09:00:00+01:00  ...         80.44
11236  2016-04-13 05:00:00+02:00  ...         25.14
11524  2016-04-25 05:00:00+02:00  ...         22.65
11526  2016-04-25 07:00:00+02:00  ...         40.18
11902  2016-05-10 23:00:00+02:00  ...         39.11
12672  2016-06-12 01:00:00+02:00  ...         48.72
13341  2016-07-09 22:00:00+02:00  ...         51.72
13391  2016-07-12 00:00:00+02:00  ...         47.49
15272  2016-09-28 09:00:00+02:00  ...         56.40
15598  2016-10-11 23:00:00+02:00  ...         60.98
15982  2016-10-27 23:00:00+02:00  ...         62.84
16612  2016-11-23 04:00:00+01:00  ...         49.11
25164  2017-11-14 12:00:00+01:00  ...         66.17
25171  2017-11-14 19:00:00+01:00  ...         75.45
30185  2018-06-11 18:00:00+02:00  ...         64.93
30896  2018-07-11 09:00:00+02:00  ...         69.79

[47 rows x 27 columns]