<a href="https://colab.research.google.com/github/gammaSquared/deep-learning-power-market/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Deep learning in the Spannish power market**

This project is about applying deep learning to the following three tasks in the Spannish power market:

- Can we forecast 24 hours in advance better than the TSO?
- Can we predict electrical price by time of day better than TSO?
- Forecast intraday price or electrical demand hour-by-hour.

The dataset and suggested problems come from the Kaggle https://www.kaggle.com/nicholasjhana/energy-consumption-generation-prices-and-weather 

## Setup
The needed information is contained in the repo https://github.com/gammaSquared/deep-learning-power-market The code and data is first cloned into the workspace of the notebook. Along with this notebook, there is an existing utils.py file containing functions and classes to keep things clean and tidy. 

## Deep learning 
Tensorflow and Keras will be used for deep learning. Moreover this is a timer series forecasting problem. An excellent resource on this is https://www.tensorflow.org/tutorials/structured_data/time_series

## Overall workflow
- Import, inspect and clean data 
- Analyze data and prepare features

In [1]:
# Clone repo
!git clone https://github.com/gammaSquared/deep-learning-power-market
# Change pwd to deep-learning power-market
%cd deep-learning-power-market

Cloning into 'deep-learning-power-market'...
remote: Enumerating objects: 31, done.
remote: Counting objects: 100% (31/31), done.
remote: Compressing objects: 100% (29/29), done.
remote: Total 31 (delta 6), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (31/31), done.
/content/deep-learning-power-market

## Import packages
- *utils* contains all the functions and classes in the repo

In [3]:
import utils as utils
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf

## Import data
- The csv files are contained in the folder *data* in the repo

In [5]:
# Change working directory to data and list files
%cd data
%ls

/content/deep-learning-power-market/data
energy_dataset.csv  weather_features.csv

After importing the data and inspecting it, there is missing data in the energy data

In [16]:
# Import data and inspect
df_energy = pd.read_csv('energy_dataset.csv')
df_weather = pd.read_csv('weather_features.csv')
print('Energy data')
print(f'Shape: \n {df_energy.shape}')
print(f'Nans: \n {df_energy.isna().sum()}')
display(df_energy.head())
print('Weather data')
print(f'Shape: \n {df_weather.shape}')
print(f'Nans: \n {df_weather.isna().sum()}')
display(df_weather.head())

Energy data
Shape:
 (35064, 29)
Nans:
 time                                               0
generation biomass                                19
generation fossil brown coal/lignite              18
generation fossil coal-derived gas                18
generation fossil gas                             18
generation fossil hard coal                       18
generation fossil oil                             19
generation fossil oil shale                       18
generation fossil peat                            18
generation geothermal                             18
generation hydro pumped storage aggregated     35064
generation hydro pumped storage consumption       19
generation hydro run-of-river and poundage        19
generation hydro water reservoir                  18
generation marine                                 19
generation nuclear                                17
generation other                                  18
generation other renewable                        18
generation solar                                  18
generation waste                                  19
generation wind offshore                          18
generation wind onshore                           18
forecast solar day ahead                           0
forecast wind offshore eday ahead              35064
forecast wind onshore day ahead                    0
total load forecast                                0
total load actual                                 36
price day ahead                                    0
price actual                                       0
dtype: int64

                        time  generation biomass  ...  price day ahead  price actual
0  2015-01-01 00:00:00+01:00               447.0  ...            50.10         65.41
1  2015-01-01 01:00:00+01:00               449.0  ...            48.10         64.92
2  2015-01-01 02:00:00+01:00               448.0  ...            47.33         64.48
3  2015-01-01 03:00:00+01:00               438.0  ...            42.27         59.32
4  2015-01-01 04:00:00+01:00               428.0  ...            38.41         56.04

[5 rows x 29 columns]

Weather data
Shape:
 (178396, 17)
Nans:
 dt_iso                 0
city_name              0
temp                   0
temp_min               0
temp_max               0
pressure               0
humidity               0
wind_speed             0
wind_deg               0
rain_1h                0
rain_3h                0
snow_3h                0
clouds_all             0
weather_id             0
weather_main           0
weather_description    0
weather_icon           0
dtype: int64

                      dt_iso city_name  ...  weather_description  weather_icon
0  2015-01-01 00:00:00+01:00  Valencia  ...         sky is clear           01n
1  2015-01-01 01:00:00+01:00  Valencia  ...         sky is clear           01n
2  2015-01-01 02:00:00+01:00  Valencia  ...         sky is clear           01n
3  2015-01-01 03:00:00+01:00  Valencia  ...         sky is clear           01n
4  2015-01-01 04:00:00+01:00  Valencia  ...         sky is clear           01n

[5 rows x 17 columns]